/* Coolors Exported Palette - https://coolors.co/31393c-2176ff-33a1fd-fdca40-f79824 */

/* HSL */
$color1: hsla(196%, 18%, 24%, 1);
$color2: hsla(217%, 87%, 100%, 1);
$color3: hsla(207%, 80%, 99%, 1);
$color4: hsla(44%, 75%, 99%, 1);
$color5: hsla(33%, 85%, 97%, 1);

/* RGB */
$color1: rgba(49, 57, 60, 1);
$color2: rgba(33, 118, 255, 1);
$color3: rgba(51, 161, 253, 1);
$color4: rgba(253, 202, 64, 1);
$color5: rgba(247, 152, 36, 1);

/* HEX */
$color1: #31393cff;
$color2: #2176ffff;
$color3: #33a1fdff;
$color4: #fdca40ff;
$color5: #f79824ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-right: linear-gradient(90deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-bottom: linear-gradient(180deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-left: linear-gradient(270deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-top-right: linear-gradient(45deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-bottom-right: linear-gradient(135deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-top-left: linear-gradient(225deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-bottom-left: linear-gradient(315deg, #31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);
$gradient-radial: radial-gradient(#31393cff, #2176ffff, #33a1fdff, #fdca40ff, #f79824ff);